.Stitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    height: 150px;
}

.BG-text {
    position: absolute;
    font-size: 150px;
    font-weight: 900;
    /* filter: blur(4px) drop-shadow(0 8px 20px rgba(0, 0, 0, 0.25));
    color: #f5f6fa; */
   filter: blur(4px) drop-shadow(0 8px 20px rgba(0, 0, 0, 0.1));
    color: #ecf0f3;
    user-select: none;
    white-space: nowrap;
}

.S-title {
    position: absolute;
    font-size: 70px;
    font-weight: 400;
    color: #d83536;
}

@media (max-width: 768px) {
    .Stitle { height: 100px; }
    .BG-text { font-size: 90px; }
    .S-title { font-size: 45px; }
}

@media (max-width: 480px) {
    .Stitle { height: 80px; }
    .BG-text { font-size: 55px; }
    .S-title { font-size: 32px; }
}
